#app {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  overflow: hidden;
}

/* Utilities
================================================= */
.absolute       { position: absolute; }
.relative       { position: relative; }
.pa-0           { padding-left: 0 !important; padding-right: 0!important; padding-top: 0!important; padding-bottom: 0!important; }



.ma-2           { margin-left: 8px; margin-right: 0px; margin-top: 8px; margin-bottom: 8px; }

.mb-2           { margin-bottom: 8px; }
.mb-4           { margin-bottom: 16px; }
.mb-6           { margin-bottom: 24px; }
.mb-8           { margin-bottom: 32px; }


.pa-2           { padding-left: 8px; padding-right: 8px; padding-bottom: 8px; padding-top: 8px;}
.px-2           { padding-left: 8px; padding-right: 8px; }
.px-4           { padding-left: 16px; padding-right: 16px; }  


.ma-auto        { margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; }

@media (min-width: 600px) {
}

li ul {
  margin-left: 20px;
}